{% extends 'base.html' %}
{% comment %} {% load thumbnail %} {% endcomment %}
{% load user_filters %}

{% block title %}Пост {{ post|truncatechars:30 }}{% endblock title %}

{% block content %}
  
      <div class="row" style="border: 2px solid black; border-radius: 10px;">
        <aside class="col-md-1">
        </aside>
        <aside class="col-md-3">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Название: {{ game.name }} 
            </li>
            <li class="list-group-item">
              Год выпуска: {{ game.year }}
            </li>
            <li class="list-group-item">
              Категория: <a href="{% url 'games:category_gamemark' game.category.slug %}">{{ game.category }}</a>
            </li>
        </aside>
        <aside class="col-md-5">
        </aside>
        <aside class="col-md-2">
              <div style="margin-top: 10px; 
              padding: 1px; 
              border: 2px solid black; 
              background-color: {% if avg_mark <= 2 %} red {% elif 2 < avg_mark and avg_mark <= 5 %} orange {% elif 5 < avg_mark and avg_mark <= 8 %} yellow {% else %} #22c946 {% endif %}; 
              text-align: center; 
              font-family: fantasy; 
              font-size: 20px">
                <b>
                  AVG<br>
                  <span style='font-size: 45px'>{{ avg_mark }}</span>
                </b>
              </div>
        </aside>
            {% comment %} <li class="list-group-item">
              <a href="{% url 'posts:profile' post.author.username %}">
                все посты пользователя
              </a>
            </li> {% endcomment %}
          </ul>
          
        
      </div>
<h1 style="font-family: fantasy; text-align: center;">Последние оценки об игре</h1>
{% for gamemark in gamemarks_by_game %}
    <div style='border: 2px solid black; border-radius: 40px 10px;'>
    <article style='margin-left: 50px; margin-top: 10px'>
      <ul>
        <li>
          <span>Пользователь:</span>
          <a href="{% url 'games:profile' gamemark.user.username %}">{{ gamemark.user }}</a>
        </li>
        <li>
          <span>Дата публикации:</span> 
          <span>{{ gamemark.pub_date|date:"d E Y" }}</span>
        </li>
        <li>
          <p>
            <span>Комментарий:</span> 
            <span>{{ gamemark.comment }}</span>
          </p>
        </li>
      </ul>
        <p>
          <span style="font-size: 20px">Оценка:</span> 
          <span style="color: {% if gamemark.mark <= 2 %} red {% elif 2 < gamemark.mark and gamemark.mark <= 5 %} orange {% elif 5 < gamemark.mark and gamemark.mark <= 8 %} yellow {% else %} #22c946 {% endif %};; font-family: fantasy; font-size: 20px">{{ gamemark.mark }}</span> 
        </p>
        {% if request.user == gamemark.user%}
        <p>  
          <a href="{% url 'games:gamemark_edit' gamemark.id %}">Редактировать оценку</a>
        </p>
        {% endif %}
    </article>
    </div>
    <p>
    </p>
{% endfor %}
  
{% endblock content %}