{% extends 'base.html' %}


{% block title %}Лента оценок{% endblock title %}
  {% block content %}
    {% for gamemark in gamemark_list %}
    <article>
      <ul>
        <li>
            Автор: {{ gamemark.user }}
        </li>
        <li>
            Дата публикации: {{ gamemark.pub_date|date:"d E Y" }}
        </li>
        <li>
            Игра: {{ gamemark.game }}
        </li>
        <li>
          Категории: <a href="{% url 'games:category_gamemark' gamemark.game.category %}">{{ gamemark.game.category }}</a>
        </li>
      </ul>
        <p>{{ gamemark.comment }}</p>
        <p>
            <b>Оценка: {{ gamemark.mark }}</b>
        </p>
      {% if not forloop.lust %}<hr>{% endif %}
    </article>
    {% endfor %}
  {% endblock content %}

