{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}Профиль пользователя {{ profile }}{% endblock title %}

{% block content %}
<div class="container emp-profile">
  <div class="row">
    <div class="col-md-2">
      <div class="profile-img">
        {% if user.profile.profile_img %}
        {% thumbnail profile.profile_img "150x150" crop="center" upscale=True as im %}
          <img src="{{ im.url }}">
        {% endthumbnail %}
        {% else %}
          <img src="{% static 'img\profile.jpg' %}" height=120 width=192>
        {% endif %}
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-head">
        <h1 style="font-family: fantasy; text-align: left;">Профиль пользователя {{ profile }}</h1>
        {% include 'games/includes/switcher.html' %}  
      </div>
    </div>
    {% if request.user == profile.user %}
    <div class="col-md-2">
      <a href="{% url 'games:profile_edit' profile.id %}" class="btn btn-dark" data-mdb-ripple-color="dark">
        <span style="color: white; font-family: fantasy; font-size: 18px">Р<span style="color: #22c946; font-family: fantasy; font-size: 18px">едактировать</span>
        <span style="color: white; font-family: fantasy; font-size: 18px">п<span style="color: #22c946; font-family: fantasy; font-size: 18px">рофиль</span>
      </a>
    </div>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-md-2">
      <h5>Всего оценок: {{ gamemarks_by_user.count }} </h5>
    </div>
    <div class="col-md-8">
      <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
              <div class="row">
                <span style="font-family: fantasy; text-align: left; font-size: 20px">Обо мне:</span>
                <p>
                </p>
                <span>{{ profile.about }}</span>
                <p>
                </p>
              
                <span style="font-family: fantasy; text-align: left; font-size: 20px">Награды:</span>
                <p>
                </p>
              </div>
                <ui>
                  {% for achievement in profile.achievements.all %}
                  <div style='border: 2px solid black; border-radius: 10px; margin-right: 100px;' title="{{achievement.requirement}}">
                      <span style="margin-left: 15px" >{{achievement}}</span>
                  </div>
                  <p>
                  </p>
                  {% endfor %} 
                <ui>
            </div>    
      </div>  
    </div>
  </div>
</div>
{% endblock content %}