{% extends "base.html" %}
{% block title %}О проекте{% endblock %}
{% block content %}
<h1>О сайте</h1>
<p>
  Данный сайт предназначен для оценки компьютерных игр, передачи своих ощущений или эмоций относительно того или иного игрового произведения.<br>
  Здесь вы можете ознакомиться с мнением пользователей о конкретной игре, отфильтровать оценки по конкретной категории игры,<br>
  а так же посмотреть топ игр, высоко оцененных пользователями (RATING).<br>
  Зарегестрированным пользователям так же открывается доступ к собственному профилю (MY PROFILE) и оценке игрового тайтла (NEW MARK).<br>
  Кто знает, возможно именно ваш голос способен изменить рейтинг?<br>
  Самые активные критики за свои оценки будут получать ачивки (достижения), которые будут отображены в его профиле (вкладка About).
</p>
<p>  
  На сайте запрещены:
  <li>
    порнография
  </li>
  <li>
    информации об изготовлении или получении наркотиков
  </li>
  <li>
    способы совершения суицида и призывов к его совершению
  </li>
  <li>
    призывы к разжиганию национальной розни, к военным действиям
  </li>
  <li>
    информация предлагающая купить фальшивые документы, оружие, информация об изготовлении ядов, бомб и т.п.
  </li>
  <li>
    экстремизм
  </li>
  <li>
    оскорбление чувств верующих
  </li>
</p>
<p>
  Данный сайт является pet-проектом начинающего Python-разроботчика Никиты Россиина, его контакты представлены внизу сайта.<br>
  Если у вас возникли какие-либо идеи, касательно данного проекта, или вы обнаружили неполадки, смело пишите.<br>
  Проект еще будет дорабатываться, развиваться, обрастать новыми функциями, так что возможны изменения.
</p>
{% endblock %}