{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: black">
    <div class="container">
      <a class="navbar-brand" href="{% url 'games:index' %}">
        <img src="{% static 'img/wlogo.png' %}" width="51" height="51" class="d-inline-block align-top" alt="">
        <span style="color: white; font-family: fantasy; font-size: 35px">W<span style="color: #22c946; font-family: fantasy; font-size: 35px">ANNA_MARK_IT</a>
      </a>
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills">
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'games:game_rating' %}active{% endif %}" 
            href="{% url 'games:game_rating' %}"
          >
            <span style="color: white; font-family: fantasy; font-size: 20px">Т<span style="color: #22c946; font-family: fantasy; font-size: 20px">ОП 10
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'about:about_project' %}active{% endif %}" 
            href="{% url 'about:about_project' %}"
          >
            <span style="color: white; font-family: fantasy; font-size: 20px">О<span style="color: #22c946; font-family: fantasy; font-size: 20px"> САЙТЕ
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'games:gamemark_create' %}active{% endif %}" 
            href="{% url 'games:gamemark_create' %}"
          >
              <span style="color: white; font-family: fantasy; font-size: 20px">Н<span style="color: #22c946; font-family: fantasy; font-size: 20px">ОВАЯ
              <span style="color: white; font-family: fantasy; font-size: 20px">О<span style="color: #22c946; font-family: fantasy; font-size: 20px">ЦЕНКА
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'games:profile' and request.user.username == profile.user.username or view_name  == 'games:profile_about' and request.user.username == profile.user.username %}active{% endif %}" 
            href="{% url 'games:profile' request.user.username %}"
          >
              <span style="color: white; font-family: fantasy; font-size: 20px">М<span style="color: #22c946; font-family: fantasy; font-size: 20px">ОЙ
              <span style="color: white; font-family: fantasy; font-size: 20px">П<span style="color: #22c946; font-family: fantasy; font-size: 20px">РОФИЛЬ
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'users:password_reset' %}active{% endif %}" 
             href="{% url 'users:password_reset' %}"
          >
            <span style="color: white; font-family: fantasy; font-size: 20px">С<span style="color: #22c946; font-family: fantasy; font-size: 20px">МЕНИТЬ
            <span style="color: white; font-family: fantasy; font-size: 20px">П<span style="color: #22c946; font-family: fantasy; font-size: 20px">АРОЛЬ
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'users:logout' %}active{% endif %}" 
             href="{% url 'users:logout' %}"
          >
            <span style="color: white; font-family: fantasy; font-size: 20px">В<span style="color: red; font-family: fantasy; font-size: 20px">ЫЙТИ</a>
          </a>
        </li>
        {% comment %} <li>
          Пользователь: {{ request.user.username }}
        </li> {% endcomment %}
        {% else %}
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}" 
             href="{% url 'users:login' %}"
          >
          <span style="color: white; font-family: fantasy; font-size: 20px">В<span style="color: #22c946; font-family: fantasy; font-size: 20px">ОЙТИ</a>
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'users:signup' %}active{% endif %}" 
             href="{% url 'users:signup' %}"
          >
          <span style="color: white; font-family: fantasy; font-size: 20px">З<span style="color: #22c946; font-family: fantasy; font-size: 20px">АРЕГИСТРИРОВАТЬСЯ</a>
          </a>
        </li>
        {% endif %}
        {% endwith %}
      </ul>

    </div>
  </nav>
</header>