{% load static %}
<header>
  <nav class="navbar navbar-light" style="background-color: black">
    <div class="container">
      <a class="navbar-brand" href="{% url 'games:index' %}">
        <img src="{% static 'img/wlogo.png' %}" width="51" height="51" class="d-inline-block align-top" alt="">
        <span style="color: white; font-family: fantasy; font-size: 35px">W<span style="color: #22c946; font-family: fantasy; font-size: 35px">ANNA_MARK_IT</a>
      </a>
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills">
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'games:game_rating' %}active{% endif %}" 
            href="{% url 'games:game_rating' %}"
          >
            <span style="color: white; font-family: fantasy; font-size: 20px">R<span style="color: #22c946; font-family: fantasy; font-size: 20px">ATING
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'about:about_project' %}active{% endif %}" 
            href="{% url 'about:about_project' %}"
          >
            <span style="color: white; font-family: fantasy; font-size: 20px">A<span style="color: #22c946; font-family: fantasy; font-size: 20px">BOUT
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'games:gamemark_create' %}active{% endif %}" 
            href="{% url 'games:gamemark_create' %}"
          >
              <span style="color: white; font-family: fantasy; font-size: 20px">N<span style="color: #22c946; font-family: fantasy; font-size: 20px">EW
              <span style="color: white; font-family: fantasy; font-size: 20px">M<span style="color: #22c946; font-family: fantasy; font-size: 20px">ARK
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'games:profile' or view_name  == 'games:profile_about' %}active{% endif %}" 
            href="{% url 'games:profile' request.user.username %}"
          >
              <span style="color: white; font-family: fantasy; font-size: 20px">M<span style="color: #22c946; font-family: fantasy; font-size: 20px">Y
              <span style="color: white; font-family: fantasy; font-size: 20px">P<span style="color: #22c946; font-family: fantasy; font-size: 20px">ROFILE
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'users:password_reset' %}active{% endif %}" 
             href="{% url 'users:password_reset' %}"
          >
            <span style="color: white; font-family: fantasy; font-size: 20px">C<span style="color: #22c946; font-family: fantasy; font-size: 20px">HANGE
            <span style="color: white; font-family: fantasy; font-size: 20px">P<span style="color: #22c946; font-family: fantasy; font-size: 20px">ASSWORD
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'users:logout' %}active{% endif %}" 
             href="{% url 'users:logout' %}"
          >
            <span style="color: white; font-family: fantasy; font-size: 20px">E<span style="color: red; font-family: fantasy; font-size: 20px">XIT</a>
          </a>
        </li>
        {% comment %} <li>
          Пользователь: {{ request.user.username }}
        </li> {% endcomment %}
        {% else %}
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'users:login' %}active{% endif %}" 
             href="{% url 'users:login' %}"
          >
          <span style="color: white; font-family: fantasy; font-size: 20px">L<span style="color: #22c946; font-family: fantasy; font-size: 20px">OGIN</a>
          </a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link {% if view_name  == 'users:signup' %}active{% endif %}" 
             href="{% url 'users:signup' %}"
          >
          <span style="color: white; font-family: fantasy; font-size: 20px">S<span style="color: #22c946; font-family: fantasy; font-size: 20px">IGNUP</a>
          </a>
        </li>
        {% endif %}
        {% endwith %}
      </ul>

    </div>
  </nav>
</header>